@import "../../defaults.scss";

.blog {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 150px;
    padding-top: 50px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-items: space-between;
    margin: 0;
}

h5 {
    padding-top: 50px;
}