/* Default values */
$font-color: #f0f0f0;
$font-color-footer: #ffffff;

$divisor-color2: #ffffff4b;
$divisor-color: #b3b3b3;

$background: #001068;
$background-dark: #000b49;
$background-footer: #000000;
$contrast-color: #ffbb00;

$size-font-big: 5vw;
$size-font-small: 2vh;



