<div class="container">
    <div class="child some-margin">
        <h1>What I do</h1>
        <h1>
            <div class="scroller">
                <span>
                  Programming<br/>
                  Mathematics<br/>
                  Scala
                </span>
              </div>
        </h1>
        <p class="big-font">
            I am a mathematician interested in software. While in university, I was introduced to functional and object-oriented programming through Scala and Haskell.
        </p>
        <p class="big-font">
            I contribute to the ZIO framework, which allows me to give back to the software community and build things that will be used by many differents developers in many differents projects.
            It also allows me to delve deeper in the inner workings of a framework and even to learn about other libraries around which ZIO acts like a wrapper. 
        </p>
    </div>
</div>



